* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h1 {
    font-size: 24pt;
    color: white;
    line-height: 48px;
    align-content: center;
    margin:0;
    padding:0;
    text-align: center;
    width: 100%
}


header {
    position: fixed;
    top: 0;
    left:0;
    height: 48px;
    width: 100vw;
    background-color: hotpink;
    box-shadow: 3px 1px lightgray;
    align-items: center;
    z-index: 200;

}

main {
    padding: 0 20px;
}

footer {
    background-color: hotpink;
    box-shadow: 3px -1px lightgray;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 48px;
}